/* Reset Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: #505050;
}

/* Header Styles */
header {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: #fff;
    text-align: center;
    padding: 20px;
} 

.headeraH1 {
    margin: 0;
}

.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}


/* Navigation Styles */
nav{
position: sticky;
top: 0;

}
nav ul {
    background-color: #333;
    color: #fff;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;  /* Smooth transition for hover effect */
}

nav a:hover {
    background-color: #505050;  /* Darker shade for hover */
}

/* Banner Styles */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.centered-banner {
    padding: 30px;
    max-width: 80%;
    height: auto;
}

/* Main Content Styles */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.services {
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
main h3 {
    margin-top: 20px;
}

/* Service Columns */
.services-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.service-column {
    flex-basis: calc(50% - 20px);
    max-width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-column img {
    max-width: 100%; /* Ensure the image doesn't exceed the width of its container */
    max-height: 250px; /* Limit the maximum height of the image */
    height: auto;
}

.service-column h3 {
    margin-bottom: 5px;
}

/* Media Queries for Responsiveness */
@media (max-width: 800px) {
    .service-column {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 700px) {
    .service-column {
        flex-basis: 100%;
        max-width: 100%;
    }
}

/* Call to Action Styles */
.cta-container {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background-image: linear-gradient(to right top, #0061ff, #60efff);
    font-family: 'Pixelify Sans', cursive;
    font-size: larger;
    padding: auto;
    border: 1px solid #3498db;
    margin: 10px;

}

.cta-button {
    display: inline-block;
    padding: 12px 24px; /* Adjust padding */
    background-color: #FF5733; /* Change background color */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    border: 2px solid #FF5733; /* Add a border with the same color as the background */
    border-radius: 30px; /* Increase border-radius for a rounded button */
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Add transitions for a hover effect */
    cursor: pointer; /* Change cursor on hover */
}
.cta-container h2 {
    font-size: 28px; /* Increase font size */
    text-transform: uppercase; /* Make text uppercase */
    margin-top: 0; /* Remove default top margin */
    text-decoration: underline; /* Add underline */
}

.cta-button:hover {
    background-color: #00b0b3;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer ul {
    margin: 0;
}

footer li {
    display: inline-block;
    margin-right: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;  /* Smooth transition for hover effect */
}

footer a:hover {
    color: #b3b3b3;  /* Lighter color on hover */
}

footer p {
    margin: 10px 0 0;
}

/*Here, will be the Gallery slide show style*/
* {
    box-sizing: border-box;
    }
    .slideshow-img {
    vertical-align: middle;
    width: 100%;
    }
    /* Position the image container (needed to position the left and right
    arrows) */
    .container {
    position: relative;
    }
    /* Hide the images by default */
    .mySlides {
    display: none;
    }
    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
    cursor: pointer;
    }
    /* Next & previous buttons */
    .prev,
    .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    }
    /* Position the "next button" to the right */
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    }
    /* Number text (1/3 etc) */
    .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    }
